<!DOCTYPE html>
<html>
    <head>
        <title>Twiads</title>
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'tags' %}">Tags</a>
            <a href="#">Tranding in your country</a>
            <a href="#">Notifications</a>
            <a href="{% url 'add-tweet' %}">Post</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
        {% block content %}     
        {% endblock %}
    </body>
</html>
