{% extends "base.html" %}

{% block content %}
  <h1>Your Tweet</h1>
  <p>{{ tweet.content|urlize|safe }}</p>
  <p>Author: {{ tweet.author }}</p>
  <p>Date: {{ tweet.created_at }}</p>
  <li>
    <form action="{% url 'like_tweet' tweet_id=tweet.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="like-button">Like</button> {{ tweet.likes_count }}
    </form>
  </li>
  <p>Comments: {{ tweet.comments_count }}</p>
  <p>Retweets: {{ tweet.retweets_count }}</p>
  <p>Tags:
    {% for tag in tweet.tags.all %}
      {{ tag.name }}
    {% endfor %}
  </p>
{% endblock %}
  