{% extends "base.html" %}
{% block content %}
    <h1>Tweets Feed</h1>
    
    <form method="GET" action="{% url 'home' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sort</button>
    </form>
    
    {% for tweet in tweets.data %}
        <div class="tweet">
            <p>Author: {{ tweet.author }}</p>
            <p>Date: {{ tweet.created_at }}</p>
            <a href="{% url 'get-tweet' tweet.id %}">{{ tweet.content }}</a>
            <p>Likes: {{ tweet.likes_count }}</p>
            <p>Retweets: {{ tweet.retweets_count }}</p>
            <p>Comments: {{ tweet.comments_count }}</p>
            <p>Tags:
                {% for tag in tweet.tags.all %}
                    {{ tag.name }}
                {% endfor %}
            </p> 
        </div>
    {% endfor %}
    
    {% if tweets.prev_page is not None %}
        <a href="{% url 'home' %}?{% if request.GET.sort_by %}sort_by={{ request.GET.sort_by }}&{% endif %}page={{ tweets.prev_page }}">Prev</a>
    {% endif %}
    
    {% if tweets.next_page is not None %}
        <a href="{% url 'home' %}?{% if request.GET.sort_by %}sort_by={{ request.GET.sort_by }}&{% endif %}page={{ tweets.next_page }}">Next</a>
    {% endif %}
{% endblock %}
