{% extends "base.html" %}
{% block content %}
    <h1>Tweets Feed</h1>
    {% for tweet in tweets %}
        <div class="tweet">
            <p>Author: {{ tweet.author }}</p>
            <p>Date: {{ tweet.created_at }}</p>
            <a href="{% url 'get-tweet' tweet.id %}">{{tweet.content}}</a>
            <p>Likes: {{ tweet.likes_count}}</p>
            <p>Reetweets: {{ tweet.reetweets_count }}</p>
            <p>Comments: {{ tweet.comments_count }}</p>
            <p>tags: {{ tweet.tag }}</p>
        </div>
    {% endfor %}
{% endblock %}