{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>
<p>{{ user.username }}</p>
<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
{% comment %} <img src="{{ user.avatar.url }}" alt="Avatar"> {% endcomment %}
<p>Registration Date: {{ user.created_at }}</p>
<p>Following: {{ user.subscriptions_count }}</p>
<p>Followers: {{ user.subscribers_count }}</p>
<p>Country: {{ user.country.name }}</p>

<h2>Tweets:</h2>
    {% for tweet in tweets %}
    <div class="tweet">
        <p>Author: {{ tweet.author.first_name }} {{ tweet.author.last_name }} <a href="{% url 'profile' %}">{{ tweet.author.username }}</a></p>
        <p>Date: {{ tweet.created_at }}</p>
        <a href="{% url 'get-tweet' tweet.id %}">{{ tweet.content }}</a>
        <p>Likes: {{ tweet.likes_count }}</p>
        <p>Retweets: {{ tweet.retweets_count }}</p>
        <p>Comments: {{ tweet.comments_count }}</p>
        <p>Tags:
            {% for tag in tweet.tags.all %}
                {{ tag.name }}
            {% endfor %}
        </p> 
    </div>
    {% endfor %}
{% endblock %}
